
.navbar-outer {
  border-bottom: 1px solid #64748b5e;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 83.33%;

  @media (max-width: 640px) {
     width: 100%;
  }

  .logo {
    display: flex;
    align-items: center;
    
    img {
      height: 44px;
      padding: 10px 8px;
    }
  }

  .nav-links {
    display: flex;
    align-items: center;
    padding: 10px 8px;
    color: #64748B;

    a {
      padding: 0 20px;
      text-decoration: none;
      color: #64748B;
        font-size: 16px;
        text-decoration: none;
        transition: color 0.3s;
  
        &:hover {
          color: #333; // Darker on hover
        }
    }

    
      .trial-button {
              padding: 12px 20px;
              background: linear-gradient(110deg, rgba(45,86,236,1) 20%, rgba(26,172,234,1) 100%);
              font-weight: 600;
              color: #F8FAFC;
              border: none;
              border-radius: 4px;
              font-size: 16px;
              letter-spacing: 0.5px;
              margin: 0 20px;
              cursor: pointer;
              transition:background-position 0.4s ease;
              
              &:hover {
                background-size: 160%;
                background-position: right;
              }
      }
    

    @media (max-width: 640px) {
      display: none;
    }
  }
}








.open{
  // background: #000;
  height: 20px;
  width: 20px;
  display: flex;
  position: fixed;
    top: 20px;
    right: 20px;
    width: 24px;
    height: 24px;
    @media (min-width: 640px) {
      display: none;
    }
}
.open-menu{
  width: 22px;
  align-self: center;
}

.menu-overlay {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  backdrop-filter: blur(8px);
  z-index: 400;
  transition: transform 0.3s ease-in-out;
  // background: #000;

  &.translate-hide {
    transform: translateX(110vw); // Hidden state
  }

  &.translate-show {
    transform: translateX(0); // Visible state
  }
}

.menu-content {
  position: fixed;
  top: 0;
  right: 0;
  width: 75%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(232, 253, 255, 0.832);
  z-index: 500;
  transition: transform 0.7s ease-in-out;

  &.translate-hide {
    transform: translateX(110vw); // Hidden state
  }

  &.translate-show {
    transform: translateX(0); // Visible state
  }

  .close-icon {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    filter: invert(50%);
  }

  .menu-links {
    display: flex;
    margin-top: 60px;
    flex-direction: column;
    align-items: left;
    padding: 10px 8px;
    color: #64748B;

    a {
      padding: 10px 20px;
      text-decoration: none;
      color: #64748B;
        font-size: 20px;
        text-decoration: none;
        transition: color 0.3s;
  
        &:hover {
          color: #333; // Darker on hover
        }
    }
  }
}
